//Overall
$global_background: #EAEBEF;


//Wrapper Stuff
$wrapper_margin: 0 auto;
$wrapper_maxwidth: 45rem;
$wrapper_background: #EAEBEF;
$wrapper_padding: 1.3rem;

//Footer
$footer_text: white;
$footer_background: #2E609F;

//Button Stuff
$button_background: #4866B4;
$button_text: white;
$button_hover: #E7EAF3;
